nav {
  position: fixed;
  width: 100%;
  z-index: 1;
  backdrop-filter: blur(5.5px);
}

.navbar_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  height: 6rem;
}

.left_navbar {
  display: flex;
  gap: 2rem;
  padding-left: 5rem;
}
.left_navbar img {
  width: 78px;
  height: auto;
  border-radius: 10px;
}

.right_navbar {
  display: flex;
  padding-right: 1rem;
}

.right_navbar h2 {
  padding-right: 1rem;
}

.languagebtn {
  display: flex;
  gap: 0.5rem;
  width: 8rem;
}
