.sidebar_container {
  display: flex;
  align-items: center;
  /* background-color: yellowgreen; */
  padding-top: 0.5rem;
}

.sidebar_content {
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
  overflow-x: hidden;
}

.link {
  display: flex;
  color: black;
  gap: 0.5rem;
  padding: 5px 10px;
  border-right: 4px solid transparent;
  transition: 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
  text-decoration: none;
  cursor: pointer;
  align-items: center;
}
.link:hover {
  border-radius: 0.5rem;
  background: rgb(206, 213, 251);
  transition: 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

.active {
  border-radius: 0.5rem;
  background: rgb(206, 213, 251);
}
.link_text {
  white-space: nowrap;
  font-size: 13px;
  color: black;
  font-weight: bold;
  align-items: center;
}

.menu {
  display: flex;
  /* color: white; */
  padding: 5px 10px;
  border-right: 4px solid transparent;
  transition: 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
  justify-content: space-between;
}
.menu_item {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
.menu_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.menu_container .link {
  padding-left: 20px;
  border-bottom: #fff 0.5px solid;
}
