.sidebar_container {
  display: flex;
  padding-right: 0.2rem;
  position: fixed;
  z-index: 9999;
  line-height: 2.4;
  margin-right: 0.3rem;
  /* height: auto; */
}

.sidebar_container:hover {
  transition: 0.5s;
  background: rgba(255, 255, 255, 0.6);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(30px);
  border-radius: 10px;
  border: 0px solid rgba(255, 255, 255, 0.18);
  color: black;
}

.sidebar_content {
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
  overflow-x: hidden;
}

.link {
  display: flex;
  color: black;
  gap: 0.5rem;
  padding: 10px 10px;
  border-right: 4px solid transparent;
  transition: 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
  text-decoration: none;
  cursor: pointer;
  align-items: center;
}
.link:hover {
  border-radius: 0.5rem;
  /* background: rgb(206, 213, 251); */
  background-color: #e8cdb2;
  transition: 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

.active {
  border-radius: 0.5rem;
  /* background: rgb(206, 213, 251); */
  /* background-color: #1eb2a6; */
  background-color: #cc9d69;
}
.link_text {
  white-space: nowrap;
  font-size: 14px;
  color: black;
  font-weight: bold;
  align-items: center;
}

.menu {
  display: flex;
  /* color: white; */
  padding: 5px 10px;
  border-right: 4px solid transparent;
  transition: 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
  justify-content: space-between;
  color: black;
  z-index: 9999;
}
.menu_item {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
.menu_container {
  display: flex;
  flex-direction: column;
}
.menu_container .link {
  padding-left: 20px;
  color: black;
}

.icon {
  color: black;
}
