* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --red: #ff3838;
}

.App {
  display: flex;
  direction: rtl;
  gap: 0.5rem;
}

main {
  padding: 10px;
}

.title {
  font-size: 3rem;
  display: grid;
  place-items: center;
}

hr {
  margin-top: -10px;
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.mainpage_container {
  display: flex;
  width: 92%;
  direction: ltr;
  margin: auto;
  /* background-color: #ff3838; */
}
